@model MvcMusicStoreWebProject.Models.ViewModels.AttendanceViewModel
<!---Blagodarenie na taq prostotie asp action barame metoda ot kontrolera -->
@inject MvcMusicStoreWebProject.Data.IRepository _Repo;


<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

@*element sus data v koito usera da moje da si izbira data *@

<h1> Присъствена форма </h1>

<div asp-validation-summary="All">   </div>
<form method="post" asp-controller="Attendance" asp-action="CreateAttendance">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Попълнете присъствието си</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-1">
                        @*tva e sintaksisa za dostupvane prez ViewModela*@
                        <label asp-for="@Model.Attendance.Date"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Degree"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Mode"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Course"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Groupe"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Timeframe"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Type"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Hours"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Auditorium"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Note"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Programs"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.Discipline"></label>
                    </div>
                    <div class="col-1">
                        <label asp-for="@Model.Attendance.ApplicationUserId" style-display="none" visible="false"></label>
                    </div>

                    <div class="col-1">
                        <label asp-for="@Model.Attendance.SemesterId" style-display="none" visible="false"></label>
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Date" class="form-control" />
                    </div>
                    <div class="col-1">

                        <select id="DegreesList" asp-for="@Model.DegreeId" class="form-control" asp-items="(await _Repo.GetDegrees()).Select(x=> new SelectListItem() { Text = x.Name , Value=x.Id.ToString()})">
                            <option value="">Degree</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                      @*<div class="col-1">
                            <select id="DegreesList" class="form-control" asp-items="@ViewBag.degreesNames">
                                <option> Select Programs</option>
                            </select>
                        </div>*@
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Mode" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Course" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Groupe" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Timeframe" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Type" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Hours" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Auditorium" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Note" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input asp-for="@Model.Attendance.Programs" class="form-control" />
                    </div>
                    <div class="col-1">
                        <select id="DisciplineList" asp-for="@Model.DisciplineId" class="form-control">
                            <option value="-1"> Select Discipline</option>
                        </select>
                    </div>
                    @*<div class="col-1">

            <select asp-for="@Model.Attendance.SemesterId" class="form-control" asp-items="(await _Repo.GetSemester()).Select(x=> new SelectListItem() { Text = x.Name })">
                <option value="">Изберете семестър</option>
            </select>
            <span class="text-danger"></span>
        </div>*@

                    <div class="col-1">

                        <select id="ProgramsList" asp-for="@Model.Attendance.SemesterId" asp-items="@ViewBag.semNames" class="form-control">
                            <option> Select Semester</option>
                        </select>
                    </div>
                    @*<div class="col-1">

            <select asp-for="@Model.Attendance.SemesterId" class="form-control" asp-items="(await _Repo.GetSemester()).Select(x=> new SelectListItem() { Text = x.Name })">
                <option value="">The semester</option>
            </select>
            <span class="text-danger"></span>
        </div>*@

                    <div class="col-1">
                        <label asp-for="@Model.Attendance.ApplicationUserId" visible="false"> </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            @*tuk koe pozvolqva da se zapazqt vbazata danni kato cuknesh submit*@
                            <input type="submit" class="btn btn-info w-75" value="submit" />
                        </div>
                        <div class="col">
                            <a asp-action="LoggedUser" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


@section Scripts {


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>



    <script>

        $(document).ready(function () {
            $("#DegreesList").change(function () {
                $("#DisciplineList").empty();

                debugger
                $.ajax({
                    type: "GET",

                    url: "@Url.Action("GetDisciplineByProgramId")",
                    dataType: "json",
                    data: { DegreesId: $("#DegreesList").val() },
                    success: function (disciplines) {
                        $("#DisciplineList").append('<option value"' + -1 + ' " >' + "Select Discipline" + '</option>');
                        $.each(disciplines, function (index , discipline) {
                            $("#DisciplineList").append('<option value"' + discipline.value + ' " >' + discipline.text + '</option>');
                        });

                    },
                    error: function (ex) {
                        alert('Failed to retreive states ' + ex);
                    }
                })
                return false;
            })
        })
    </script>

}