@{
    Layout = null;
}

@model IEnumerable<MvcMusicStoreWebProject.Models.Attendance>
@using Microsoft.AspNetCore.Identity
@using MvcMusicStoreWebProject.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    @@media print {
        #printPageButton
        {
            display: none;
        }
      }

</style>



<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <div asp-validation-summary="All"> </div>
            @*<h2 class="text-primary" id="headText"> Преглед</h2>*@
        </div>
    </div>


    
    <form action="/Attendance/Report" method="get">
        <div class="col-2">
            <select class="form-control" name="SemesterId" id="ProgramsList" onchange="javascript:this.form.submit()">
                <option> Семестър</option>
                @foreach (SelectListItem i in ViewBag.semNames)
                {
                    <option value="@i.Value" selected="@(i.Value==ViewBag.Selected.ToString())">@i.Text</option>
                    // kogato selected pozvolqva da se zapazi izbranata stoinost kogato obhodenoto value e ravno na izbranoto value ot drop downa koeto se zapazva v ViewBag.Selected
                }
            </select>
        </div>
       
    </form>

    <br />
    <br />

    @if (Model.Count() > 0)
        {


    <table>

        <thead>
            <tr>
                <th>Дата</th>
                <th>Степен</th>
                <th>Вид</th>
                <th>Курс</th>
                <th>Група</th>
                <th>Час.Диапазон</th>
                <th>Тип</th>
                <th>Часове</th>
                <th>Зала</th>
                <th>Забележка</th>
                <th>Предмет</th>
                <th>Специалност</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var attendance in Model)
                            {
            <tr class="tableRows">
                <td width="8%">@attendance.Date</td>
                <td width="8%">@attendance.Degree</td>
                <td width="8%">@attendance.Mode</td>
                <td width="4%">@attendance.Course</td>
                <td width="4%">@attendance.Groupe</td>
                <td width="8%">@attendance.Timeframe</td>
                <td width="8%">@attendance.Type</td>
                <td width="4%">@attendance.Hours</td>
                <td width="8%">@attendance.Auditorium</td>
                <td width="8%">@attendance.Note</td>
                <td width="8%">@attendance.Programs</td>
                <td width="12%">@attendance.Discipline</td>
            </tr>
                            }
        </tbody>
    </table>
}
    else
{
  <p> </p>
}
    <form>
        <input id="printPageButton" type="button" value="Принтиране"
               onclick="window.print()" />
    </form>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">


        $(function () {
            $("[name='SemesterId']").change(function () {
                $("#txtName").val($(this).val());
            });
        });
    </script>

}










