@model MvcMusicStoreWebProject.Models.ViewModels.AlbumViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>    Create</h1>
<div asp-validation-summary="All">   </div>

<form  method="post" asp-action="Create" asp-controller="MusicStore">
    <div class="form-group">
        @*ei s tva oboznachavame che sah pulnim chrez toq label modela i to zaglavieto na obekta album*@
        <label asp-for="@Model.Album.Title"> </label>
        <input asp-for="@Model.Album.Title" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Album.ReleaseDate"> </label>
        <input asp-for="@Model.Album.ReleaseDate"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Album.Genre"> </label>
        <select  asp-for="@Model.Album.Genre" asp-items="@Model.AvailableGenres" >
            
            <option selected disabled> -----SELECT------</option>

        </select>
    </div>
    <div class="form-group">
        <label  asp-for="@Model.Album.Price"> </label>
        <input asp-for="@Model.Album.Price" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<a class="btn btn-primary" asp-action="Index" asp-controller="MusicStore" role="button">Index Page</a>